@using PersonMatterManager.BLL

<!DOCTYPE html>
<html>
<head>
    <title>Matrix Admin</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/wwwroot/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/wwwroot/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/wwwroot/css/uniform.css" />
    <link rel="stylesheet" href="~/wwwroot/css/select2.css" />
    <link rel="stylesheet" href="~/wwwroot/css/matrix-style.css" />
    <link rel="stylesheet" href="~/wwwroot/css/matrix-media.css" />
    <link href="~/wwwroot/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href='http://www.jinliniuan.com/css/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <style>
        .MySelect {
            position: relative;
            top: 10px;
            left: 10px;
        }
    </style>
</head>
<body>
    @RenderPage("~/Views/Menu.cshtml")
    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"> <a href="#" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> 主页</a> <a href="#" class="current">请假审核</a> </div>

        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">

                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"> <i class="icon-th"></i> </span>
                            <h5>请假记录</h5>
                            <button class="btn btn-info"><span class="icon-search"></span></button>
                            <button class="btn btn-warning" onclick="SeeCheck()"><span>审批</span></button>
                            <button id="EditBtn" data-toggle="modal" data-target="#addModal" style="display:none;"></button>
                        </div>
                        <div class="widget-content ">
                            <table class="table table-bordered table-striped with-check">
                                <thead>
                                    <tr>
                                        <th><div style="position:relative;left:2px;bottom:2px"><div class="checker" id="uniform-title-table-checkbox"><span><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" style="opacity: 0;"></span></div></div></th>
                                        <th>姓名</th>
                                        <th>电话</th>
                                        <th>部门</th>
                                        <th>开始时间</th>
                                        <th>结束时间</th>
                                        <th>请假工时</th>
                                        <th>是否为半天</th>
                                        <th>申请时间</th>
                                        <th>理由</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodys">
                                    @*<tr>
                                        <td><div class="checker" id="uniform-undefined"><span ><input type="checkbox" style="opacity: 0;"></span></div></td>
                                        <td style="text-align:center">Row 1</td>
                                        <td style="text-align:center">Row 2</td>
                                    </tr>
                                    <tr>
                                        <td><div class="checker" id="uniform-undefined"><span><input type="checkbox" style="opacity: 0;"></span></div></td>
                                        <td style="text-align:center">Row 1</td>
                                        <td style="text-align:center">Row 2</td>
                                    </tr>
                                    <tr>
                                        <td><div class="checker" id="uniform-undefined"><span><input type="checkbox" style="opacity: 0;"></span></div></td>
                                        <td style="text-align:center">Row 1</td>
                                        <td style="text-align:center">Row 2</td>
                                    </tr>
                                    <tr>
                                        <td><div class="" id="" style="text-align:center"><input type="checkbox" style="resize:both"></div></td>
                                        <td style="text-align:center">Row 11</td>
                                        <td style="text-align:center">Row 21</td>
                                    </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 模态框示例（Modal） -->
        <form method="post" action="" class="form-horizontal" role="form" id="AddForm" @*onsubmit="return AddDepartment()"*@ style="margin: 20px;">
            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                申请请假
                            </h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="LeaveReason" class="col-sm-3 control-label">请假原因：</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" name="LeaveReason" value="{remark}" id="LeaveReason"
                                                  placeholder="" style="position:relative;top:10px;left:10px">

                                    </textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ApproverReason" class="col-sm-3 control-label">审批理由：</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" name="ApproverReason" value="{remark}" id="ApproverReason"
                                                  placeholder="" style="position:relative;top:10px;left:10px">

                                    </textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="select" class="col-sm-3 control-label">审批结果</label>
                                    <div class="col-sm-9 MySelelct" style="height:40px;">
                                        <select id="select" name="LeaveState" class="MySelect">
                                            <option value="0">请选择</option>
                                            <option value="1">同意</option>
                                            <option value="-1">驳回</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <label id="errortxt" style="display:inline-block;margin-right:37%;color:red"></label>
                            <button type="button" id="closeSaveSee" class="btn btn-default" data-dismiss="modal">
                                关闭
                            </button>
                            <button type="button" onclick="SaveSeeLeave()" class="btn btn-primary">
                                提交
                            </button><span id="tip"> </span>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </form>

        <button type="button" id="show" data-toggle="modal" data-target="#AlterModal" style="display:none"></button>
        <form method="post" action="" class="form-horizontal" role="form" id="s" @*onsubmit="return AddDepartment()"*@ style="margin: 20px;">
            <div class="modal fade" id="AlterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:320px;margin-left:-10%">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                操作提示
                            </h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="DepartmentName" class="col-sm-3 control-label" id="backtxt"></label>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <label id="errortxt" style="display:inline-block;margin-right:37%;color:red"></label>
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                确认
                            </button><span id="tip"> </span>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </form>
    </div>
    <!--Footer-part-->
    <div class="row-fluid">
        <div id="footer" class="span12"> 2013 &copy; Mafortrix Admin. More Templates <a href="http://www.jinliniuan.com/" target="_blank">金林苑</a></div>
    </div>
    <!--end-Footer-part-->
    <script src="~/wwwroot/js/jquery.min.js"></script>
    <script src="~/wwwroot/js/jquery.ui.custom.js"></script>
    <script src="~/wwwroot/js/bootstrap.min.js"></script>
    <script src="~/wwwroot/js/jquery.uniform.js"></script>
    <script src="~/wwwroot/js/select2.min.js"></script>
    <script src="~/wwwroot/js/jquery.dataTables.min.js"></script>
    <script src="~/wwwroot/js/matrix.js"></script>
    <script src="~/wwwroot/js/matrix.tables.js"></script>
    <script>
        $(function () {
            function data_string(str) {
                var d = eval('new ' + str.substr(1, str.length - 2));
                var ar_date = [d.getFullYear(), d.getMonth() + 1, d.getDate(), d.getHours(), d.getMinutes(), d.getSeconds()];
                for (var i = 0; i < ar_date.length; i++) ar_date[i] = dFormat(ar_date[i]);
                return ar_date.slice(0, 3).join('-') + ' ' + ar_date.slice(3).join(':');
                function dFormat(i) { return i < 10 ? "0" + i.toString() : i; }
            }
            $("#Leave").css("background", "#27a9e3").children("a").css("color", "white");
            $("#s2id_autogen1").css("width", "60px");
            $(".MySelect").css("display", "block");
            $("#pageSelect").css("display", "block");
            $(".select2-container").css("display", "none");
            $.ajax({
                type: "post",
                url: "/Leave/GetLeaveSee",
                success: function (data) {
                    var html;
                    if (data.length == 0) {
                        html = '<tr><td colspan="10" style="text-align:center;">暂无数据</td></tr>';
                        $("#tbodys").append(html);
                    }
                    else {
                        for (var i = 0; i < data.length; i++) {
                            var item = data[i];
                            var id = item.UserID;
                            var tel, dep, name;
                            $.ajax({
                                type: "post",
                                url: "/Person/GetPersonInfobyID",
                                data: { id: id },
                                async: false,
                                success: function (data) {
                                    tel = data.UserTel;
                                    name = data.UserName;
                                    dep = data.DepartmentID;
                                    html = '<tr><td><div style=""><input type="checkbox" style="height:15px;width:15px;position:relative;left:7px;bottom:2px"></div></td>' +
                                        '<td style="text-align:center">' + name + '</td>' +
                                        '<td style="text-align:center">' + tel + '</td>' +
                                        '<td style="text-align:center">' + dep + '</td>' +
                                        '<td style="text-align:center">' + data_string(item.LeaveStartTime) + '</td>' +
                                        '<td style="text-align:center">' + data_string(item.LeaveEndTime) + '</td>' +
                                        '<td style="text-align:center">' + item.LeaveDays + '</td>' +
                                        '<td style="text-align:center">' + item.LeaveHalfDay + '</td>' +
                                        '<td style="text-align:center">' + data_string(item.LeaveTime) + '</td>' +
                                        '<td style="text-align:center">' + item.LeaveReason + '</td></tr >';
                                    $("#tbodys").append(html);
                                }
                            });

                        }
                    }
                }
            });



        })

        function SeeCheck() {
            if ($("#tbodys input:checked").length > 1 || $("#tbodys input:checked").length == 0) {
                $("#show").trigger("click");
                $("#backtxt").text("请选中行，请勿选中多行！");
                return false;
            }
            else {
                $("#EditBtn").trigger("click");
                var stime = $("#tbodys input:checked").parent().parent().next().next().next().next().text();
                var etime = $("#tbodys input:checked").parent().parent().next().next().next().next().next().text();
                $.ajax({
                    type: "post",
                    url: "/Leave/SeeLeaveInfo",
                    data: { stime: stime, etime: etime },
                    success: function (data) {
                        $("#LeaveReason").val(data.LeaveReason);
                    }
                });
            }
        }

        function SaveSeeLeave() {
            var appreason = $("#ApproverReason").val();
            var select;
            var stime = $("#tbodys input:checked").parent().parent().next().next().next().next().text();
            var etime = $("#tbodys input:checked").parent().parent().next().next().next().next().next().text();
            $("#select").find("option").each(function () {
                if ($(this).prop("selected") == true) {
                    select = $(this).val();
                }
            });
            $.ajax({
                type: "post",
                url: "/Leave/SaveSeeLeave",
                data: { appreason: appreason, select: select, stime:stime, etime: etime },
                success: function (data) {
                    $("#closeSaveSee").trigger("click");
                    $("#show").trigger("click");
                    if (data == "True") {
                        $("#backtxt").text("修改成功！");
                    }
                    else {
                        $("#backtxt").text("修改失败！");
                    }
                }
            });
        }
    </script>
</body>
</html>
