<!DOCTYPE html>
@using PersonMatterManager.Entity;
<html>
<head>
    <title>申请加班</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/wwwroot/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/wwwroot/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/wwwroot/css/uniform.css" />
    <link rel="stylesheet" href="~/wwwroot/css/select2.css" />
    <link rel="stylesheet" href="~/wwwroot/css/matrix-style.css" />
    <link rel="stylesheet" href="~/wwwroot/css/matrix-media.css" />
    <link href="~/wwwroot/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        .MySelect {
            position: relative;
            top: 10px;
            left: 10px;
        }
    </style>
</head>
<body>
    @RenderPage("~/Views/Menu.cshtml")
    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"> <a href="#" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> 主页</a> <a href="#" class="current">申请加班</a> </div>

        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">

                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"> <i class="icon-th"></i> </span>
                            <h5>申请加班</h5>
                            <button class="btn btn-info"><span class="icon-search"></span></button>
                            <button class="btn btn-success" data-toggle="modal" data-target="#addUserModal"><span class="">申请加班</span></button>
                        </div>
                        <div class="widget-content ">
                            <table class="table table-bordered table-striped with-check">
                                <thead>
                                    <tr>
                                        <th><div style="position:relative;left:2px;bottom:2px"><div class="checker" id="uniform-title-table-checkbox"><span><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" style="opacity: 0;"></span></div></div></th>
                                        <th>姓名</th>
                                        <th>所在部门</th>
                                        <th>开始时间</th>
                                        <th>结束时间</th>
                                        <th>申请时间</th>
                                        <th>审批状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodys">
                                    @*<tr>
                                            <td><div class="checker" id="uniform-undefined"><span ><input type="checkbox" style="opacity: 0;"></span></div></td>
                                            <td style="text-align:center">Row 1</td>
                                            <td style="text-align:center"><div >Row 2</div></td>
                                        </tr>
                                        <tr>
                                            <td><div class="checker" id="uniform-undefined"><span><input type="checkbox" style="opacity: 0;"></span></div></td>
                                            <td style="text-align:center">Row 1</td>
                                            <td style="text-align:center">Row 2</td>
                                        </tr>
                                        <tr>
                                            <td><div class="checker" id="uniform-undefined"><span><input type="checkbox" style="opacity: 0;"></span></div></td>
                                            <td style="text-align:center">Row 1</td>
                                            <td style="text-align:center">Row 2</td>
                                        </tr>
                                        <tr>
                                            <td><div class="" id="" style="text-align:center"><input type="checkbox" style="resize:both"></div></td>
                                            <td style="text-align:center">Row 11</td>
                                            <td style="text-align:center">Row 21</td>
                                        </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 模态框示例（Modal） -->
        <form method="post" action="" class="form-horizontal" role="form" id="AddForm" @*onsubmit="return AddDepartment()"*@ style="margin: 20px;">
            <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                申请加班
                            </h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="LeaveStartTime" class="col-sm-3 control-label">姓名:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="UserName" name="UserName" value=""
                                               placeholder="" style="margin-left:10px;margin-top:10px" readonly="readonly" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="LeaveStartTime" class="col-sm-3 control-label">所在部门:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="UserDepartment" name="UserDepartment" value=""
                                               placeholder="" style="margin-left:10px;margin-top:10px" readonly="readonly"  >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="LeaveStartTime" class="col-sm-3 control-label">申请时间:</label>
                                    <div class="col-sm-9">
                                        <input type="datetime-local" class="form-control" id="OvertimeStartTime" name="ApplyTime" value=""
                                               placeholder="" style="margin-left:10px;margin-top:10px" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="LeaveStartTime" class="col-sm-3 control-label">开始时间:</label>
                                    <div class="col-sm-9">
                                        <input type="datetime-local" class="form-control" id="OvertimeStartTime" name="OvertimeStateTime" value=""
                                               placeholder="" style="margin-left:10px;margin-top:10px">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="LeaveEndTime" class="col-sm-3 control-label">结束时间:</label>
                                    <div class="col-sm-9">
                                        <input type="datetime-local" class="form-control" id="OvertimeEndTime" name="OvertimeEndTime" value=""
                                               placeholder="" style="margin-left:10px;margin-top:10px">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="LeaveReason" class="col-sm-3 control-label">加班理由</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" name="OvertimeReason" value="" id="OvertimeReason"
                                                  placeholder="" style="position:relative;top:10px;left:10px"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <label id="errortxt" style="display:inline-block;margin-right:37%;color:red"></label>
                            <button type="button" id="closeAdd" class="btn btn-default" data-dismiss="modal">
                                关闭
                            </button>
                            <button type="button" onclick="AddOverTime()" class="btn btn-primary">
                                提交
                            </button><span id="tip"> </span>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </form>

        <button type="button" id="show" data-toggle="modal" data-target="#AlterModal" style="display:none"></button>
        <form method="post" action="" class="form-horizontal" role="form" id="s" @*onsubmit="return AddDepartment()"*@ style="margin: 20px;">
            <div class="modal fade" id="AlterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:320px;margin-left:-10%">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                操作提示
                            </h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="DepartmentName" class="col-sm-3 control-label" id="backtxt"></label>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <label id="errortxt" style="display:inline-block;margin-right:37%;color:red"></label>
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                确认
                            </button><span id="tip"> </span>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </form>


        <form method="post" action="" class="form-horizontal" role="form" id="form_data" style="margin: 20px;">
            <div class="modal fade" id="SeeState" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:485px;margin-left:-10%">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                查看审批进度
                            </h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <div class="alert alert-info">
                                        <button class="close" data-dismiss="alert">×</button>
                                        <strong>注意!</strong>颜色代表审批状态（绿色-已同意，红色-已驳回，橙色-待审核）
                                    </div>
                                </div>
                                <div class="form-group" id="ApproverInfo">
                                    @*<div class="alert alert-warning alert-block">
                                            <a class="close" data-dismiss="alert" href="#">×</a>
                                            <h4 class="alert-heading">部门经理</h4>
                                            暂无审批意见
                                        </div>*@
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <label id="errortxt" style="display:inline-block;margin-right:37%;color:red"></label>
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                退出
                            </button><span id="tip"> </span>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </form>
    </div>
    <!--Footer-part-->
    <div class="row-fluid">
        <div id="footer" class="span12"> 2013 &copy; Mafortrix Admin. More Templates <a href="http://www.jinliniuan.com/" target="_blank">金林苑</a></div>
    </div>
    <!--end-Footer-part-->
    <script src="~/wwwroot/js/jquery.min.js"></script>
    <script src="~/wwwroot/js/jquery.ui.custom.js"></script>
    <script src="~/wwwroot/js/bootstrap.min.js"></script>
    <script src="~/wwwroot/js/jquery.uniform.js"></script>
    <script src="~/wwwroot/js/select2.min.js"></script>
    <script src="~/wwwroot/js/jquery.dataTables.min.js"></script>
    <script src="~/wwwroot/js/matrix.js"></script>
    <script src="~/wwwroot/js/matrix.tables.js"></script>
    <script src="~/wwwroot/Tool.js"></script>
    <script>
        function data_string(str) {
            if (str == null) {
                return "null";
            }
            var d = eval('new ' + str.substr(1, str.length - 2));
            var ar_date = [d.getFullYear(), d.getMonth() + 1, d.getDate(), d.getHours(), d.getMinutes(), d.getSeconds()];
            for (var i = 0; i < ar_date.length; i++) ar_date[i] = dFormat(ar_date[i]);
            return ar_date.slice(0, 3).join('-') + ' ' + ar_date.slice(3).join(':');
            function dFormat(i) { return i < 10 ? "0" + i.toString() : i; }
        }

        $(function () {
            $("#OverTime").css("background", "#27a9e3").children("a").css("color", "white");
            $("#UserName").val(UserNameFactory(@((Session["UserInfo"] as UserInfo).UserID)));
            $("#UserDepartment").val(DepartmentFactory(@((Session["UserInfo"] as UserInfo).DepartmentID)));
            $("#OvertimeStartTime").val(getNowFormatDate());
            console.log(getNowFormatDate())
            $.ajax({
                type: "post",
                url: "/OverTime/GetOverTimeInfoPersonal",
                success: function (data) {
                    var html;
                    if (data.length == 0) {
                        html = '<tr><td colspan="8" style="text-align:center;">暂无数据</td></tr>';
                        $("#tbodys").append(html);
                    }
                    else {
                        for (var i = 0; i < data.length; i++) {
                            var item = data[i];
                            var OverTimeState, color;
                            if (item.OvertimeState == '0') {
                                OverTimeState = "审核中";
                                color = "warning";
                            }
                            else if (item.OvertimeState == '1') {
                                OverTimeState = "同意";
                                color = "success";
                            }
                            else if (item.OvertimeState == '-1') {
                                OverTimeState = "驳回";
                                color = "important";
                            }
                            html = '<tr><td><div style=""><input type="checkbox" style="height:15px;width:15px;position:relative;left:7px;bottom:2px"></div></td>' +
                                '<td style="text-align:center">' + UserNameFactory(item.UserID) + '</td>' +
                                '<td style="text-align:center">' + DepartmentFactory(@((Session["UserInfo"] as UserInfo).DepartmentID)) + '</td>' +
                                '<td style="text-align:center">' + data_string(item.ApplyTime) + '</td>' +
                                '<td style="text-align:center">' + data_string(item.OvertimeStateTime) + '</td>' +
                                '<td style="text-align:center">' + data_string(item.OvertimeEndTime) + '</td>' +
                                '<td style="text-align:center">	<span class="label label-' + color + '">' + OverTimeState + '</span></td>' +
                                '<td style="text-align:center"><button class="btn btn-info btn-mini" data-toggle="modal" data-target="#SeeState" onclick="SeeOverTime(' + item.OvertimeID + ')"><span class="icon-search"></span>查看</button></td></tr >';
                            $("#tbodys").append(html);

                        }
                    }
                }
            });

        })

        function AddOverTime() {
            var formData = new FormData(document.getElementById("AddForm"));
            $.ajax({
                type: "post",
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                url: "/OverTime/AddOverTime",
                data: formData,
                success: function (data) {
                    $("#closeAdd").trigger("click");
                    $("#show").trigger("click");
                    if (data == "True") {
                        $("#backtxt").text("添加成功！");
                    }
                    else {
                        $("#backtxt").text("添加失败！");
                    }
                }
            });
        }
        $(function () {
            $('#AlterModal').on('hide.bs.modal', function () {
                location.reload();
            })
        });

        function SeeOverTime(id) {
            $.ajax({
                type: "post",
                url: "/OverTime/GetOverTimeById",
                data: { id: id },
                success: function (data) {
                    var color, reason;
                    reason = data.ApproverReason;
                    if (data.OvertimeState == 0) {
                        color = "warning";
                    }
                    else if (data.OvertimeState == 1) {
                        color = "success";
                    }
                    else if (data.OvertimeState == -1) {
                        color = "error";
                    }
                    if (data.ApproverReason == null || data.ApproverReason == "") {
                        reason = "暂无意见";
                    }
                    var html = '<div class="alert alert-' + color + ' alert-block"><a class="close" data-dismiss="alert" href="#">×</a><h4 class="alert-heading">部门经理</h4>' + reason + '</div>';
                    $("#ApproverInfo").append(html);
                }
            })
        }
        $(function () {
            $('#SeeState').on('hide.bs.modal', function () {
                $("#ApproverInfo").empty();
            })
        });
        //关闭清空输入
        $(function () {
            $('#addUserModal').on('hide.bs.modal', function () {
            })
        });
    </script>
</body>
</html>