
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>登录</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/wwwroot/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/wwwroot/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/wwwroot/css/matrix-login.css" />
    <link href="~/wwwroot/font-awesome/css/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <div id="loginbox">
        <form id="loginform" class="form-vertical" action="/Login/CheckLogin">
            <div class="control-group normal_text"> <h3><img src="~/wwwroot/img/logo.png" alt="Logo" /></h3></div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_lg"><i class="icon-user"></i></span><input type="text" placeholder="用户名" id="Name" name="Name" />
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="password" placeholder="密码" id="Pwd" name="Pwd"/>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <span class="pull-left"><a href="#" class="flip-link btn btn-info" id="to-recover">忘记密码?</a></span>
                <span class="pull-right"><a type="button" id="submit" class="btn btn-success" /> 登陆</a></span>
            </div>
        </form>
        <form id="recoverform" action="#" class="form-vertical">
            <p class="normal_text">输入您的邮箱地址，我们将发送一封邮件来重置您的密码。</p>

            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_lo"><i class="icon-envelope"></i></span><input type="text" placeholder="邮箱地址" />
                </div>
            </div>

            <div class="form-actions">
                <span class="pull-left"><a href="#" class="flip-link btn btn-success" id="to-login">&laquo; 返回登陆</a></span>
                <span class="pull-right"><a class="btn btn-info" />发送</a></span>
            </div>
        </form>
    </div>

    <script src="~/wwwroot/js/jquery.min.js"></script>
    <script src="~/wwwroot/js/matrix.login.js"></script>
    <script>
        $(document).keydown(function (event) {
            //当按键按下enter时触发
            if (event.keyCode == 13) {
                $("#submit").trigger("click");
            }
        });
        $(function () {
            $("#submit").click(function () {
                var Name = $("#Name").val();
                var Pwd = $("#Pwd").val();
                if (Name == "") {
                    alert("请输入用户名！");
                    return false;
                } else if (Pwd == "") {
                    alert("请输入密码！");
                    return false;
                } else {
                    $.ajax({
                        type: "post",
                        url: "/Login/CheckLogin",
                        data: { name: $.trim($("#Name").val()), pwd:$.trim($("#Pwd").val()) },
                        success: function (data) {
                            console.log(data)//返回True或False大写开头的字符串
                            if (data == "True") {
                                
                                window.location.href = "/Home/Index";
                            }
                            else { alert("用户名或密码错误！") }
                        }
                    })
                }
            })
        })
    </script>
</body>

</html>

